
@{
    ViewBag.Title = "Logout";
}

<script type="text/javascript">
    setTimeout(() => { window.location = location.protocol + '//' + location.host + "/Account/Login"; }, 1000);
</script>

<div style="width: 100vw;" align="center">
    <h2>You are logouting, please wait……</h2>
</div>

