@{
    ViewBag.Title = "Contact";
}
<div class="container body-content">
    <h4>I am Nick, the developer of this website. Here is my information:</h4>
    <h5>Tele: (+1)6474685282</h5>
    <h5>Email: <a href="mailto:lammingyatca@gmail.com">lammingyatca@gmail.com</a></h5>
    <h5><a href="https://sage-begonia-df5db4.netlify.app/" target="_blank">Portfoilo Website</a></h5>
    <h5><a href="https://github.com/lammingyat" target="_blank">GitHub</a></h5>
</div>
