
@{
    ViewBag.Title = "Confirmation";
}

<div style="width: 100vw; ">
    <h2>
        <p align="center">
            Thank you for payment!<br />
            (Order Id:@ViewBag.OrderId)
        </p>
    </h2>
</div>
